* {
    border: 1px solid red;
}

html, body {
    height: 99%;
}

#mainframe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#calculatordiv {
    display: flex;
    justify-content: center;
}

#calculatorbody {
    padding: 20px;
}